# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%matplotlib notebook
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../output_files/weather_df.csv")
weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,luanda,3,AO,1651983326,89,-8.8368,13.2343,74.37,6.31
1,1,beringovskiy,100,RU,1651983143,97,63.0500,179.3167,33.62,5.70
2,2,barrow,100,US,1651983326,86,71.2906,-156.7887,24.82,3.44
3,3,verkhoyansk,100,RU,1651983327,73,67.5447,133.3850,31.57,7.02
4,4,punta arenas,100,CL,1651983328,70,-53.1500,-70.9167,44.11,9.48
...,...,...,...,...,...,...,...,...,...,...
565,565,komatipoort,3,ZA,1651983580,94,-25.4332,31.9548,62.40,1.70
566,566,ust-kuyga,100,RU,1651983580,74,70.0167,135.6000,25.90,7.83
567,567,mahibadhoo,98,MV,1651983581,76,3.7833,72.9667,84.47,13.73
568,568,frontino,99,CO,1651983581,94,6.7801,-76.1288,62.98,1.77
569,569,cape canaveral,0,US,1651983582,80,28.4058,-80.6048,77.00,16.11

In [12]:
clean_weather = weather_df.dropna()
clean_weather

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,luanda,3,AO,1651983326,89,-8.8368,13.2343,74.37,6.31
1,1,beringovskiy,100,RU,1651983143,97,63.0500,179.3167,33.62,5.70
2,2,barrow,100,US,1651983326,86,71.2906,-156.7887,24.82,3.44
3,3,verkhoyansk,100,RU,1651983327,73,67.5447,133.3850,31.57,7.02
4,4,punta arenas,100,CL,1651983328,70,-53.1500,-70.9167,44.11,9.48
...,...,...,...,...,...,...,...,...,...,...
565,565,komatipoort,3,ZA,1651983580,94,-25.4332,31.9548,62.40,1.70
566,566,ust-kuyga,100,RU,1651983580,74,70.0167,135.6000,25.90,7.83
567,567,mahibadhoo,98,MV,1651983581,76,3.7833,72.9667,84.47,13.73
568,568,frontino,99,CO,1651983581,94,6.7801,-76.1288,62.98,1.77
569,569,cape canaveral,0,US,1651983582,80,28.4058,-80.6048,77.00,16.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(g_key)

In [4]:
#Lat Lng Locations
locations = weather_df[["Lat","Lng"]]
#Humidity as weight
humidity = weather_df["Humidity"]

In [10]:
#Add heatmap plot
heatmap = gmaps.figure(center = [0.0, -0.0], zoom_level = 2)
#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 100, point_radius = 3)
heatmap.add_layer(heat_layer)
#Show Heat Map
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
# Narrow down cities for weather conditions
max_temp = weather_df.loc[(weather_df["Max Temp"]>=70) & (weather_df["Max Temp"]<=80)]
wind_speed = max_temp.loc[(weather_df["Wind Speed"]<=10)]
clear_sky = wind_speed.loc[(wind_speed["Cloudiness"]==0)]
clear_sky

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
135,135,komsomolskiy,0,UZ,1651983382,44,40.4272,71.7189,77.72,4.61
201,201,miramar,0,US,1651983413,78,25.9873,-80.2323,78.01,9.22
253,253,princeton,0,US,1651983437,81,25.5384,-80.4089,78.01,6.91
308,308,callaway,0,US,1651983460,83,30.1530,-85.5699,75.13,8.05
355,355,sinaloa,0,MX,1651983488,79,25.0000,-107.5000,74.10,4.00
369,369,zabol,0,AF,1651983495,17,32.2500,67.2500,77.61,6.67
399,399,sar-e pul,0,AF,1651983508,26,35.8333,66.1667,76.42,1.54
443,443,houma,0,US,1651983276,91,29.5958,-90.7195,77.00,0.00
538,538,ixtapa,0,MX,1651983569,83,20.7000,-105.2000,76.23,4.61
554,554,cockburn town,0,TC,1651983575,80,21.4612,-71.1419,78.75,6.73

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
#Store variable hotel_df
hotel_df = clear_sky.loc[:,["City", "Country", "Lat", "Lng"]]
hotel_df

              City Country      Lat       Lng
135   komsomolskiy      UZ  40.4272   71.7189
201        miramar      US  25.9873  -80.2323
253      princeton      US  25.5384  -80.4089
308       callaway      US  30.1530  -85.5699
355        sinaloa      MX  25.0000 -107.5000
369          zabol      AF  32.2500   67.2500
399      sar-e pul      AF  35.8333   66.1667
443          houma      US  29.5958  -90.7195
538         ixtapa      MX  20.7000 -105.2000
554  cockburn town      TC  21.4612  -71.1419

In [16]:
#add "Hotel Name" Column to DF
hotel_df["Hotel Name"] = ""
hotel_df

              City Country      Lat       Lng Hotel Name
135   komsomolskiy      UZ  40.4272   71.7189
201        miramar      US  25.9873  -80.2323
253      princeton      US  25.5384  -80.4089
308       callaway      US  30.1530  -85.5699
355        sinaloa      MX  25.0000 -107.5000
369          zabol      AF  32.2500   67.2500
399      sar-e pul      AF  35.8333   66.1667
443          houma      US  29.5958  -90.7195
538         ixtapa      MX  20.7000 -105.2000
554  cockburn town      TC  21.4612  -71.1419

In [28]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}
print("-------Begin Search-------")
for index, row in hotel_df.iterrows():        
    lat = row["Lat"]    
    lng = row["Lng"]    
    city_name = row["City"]    
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()    
    results = response['results']    
    try:
        print(f"Closest hotel for {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Search not found")
    
print("-------End of Search-------")

-------Begin Search-------
Closest hotel for komsomolskiy is TANTANA HOTEL FERGANA.
Closest hotel for miramar is Stadium Hotel.
Closest hotel for princeton is La Quinta Inn & Suites by Wyndham Miami Cutler Bay.
Closest hotel for callaway is Holiday Inn Express & Suites Panama City-Tyndall, an IHG Hotel.
Search not found
Search not found
Search not found
Closest hotel for houma is Holiday Inn Houma, an IHG Hotel.
Closest hotel for ixtapa is Flamingo Vallarta Hotel & Marina.
Closest hotel for cockburn town is Osprey Beach Hotel.
-------End of Search-------

In [29]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
135,komsomolskiy,UZ,40.4272,71.7189,TANTANA HOTEL FERGANA
201,miramar,US,25.9873,-80.2323,Stadium Hotel
253,princeton,US,25.5384,-80.4089,La Quinta Inn & Suites by Wyndham Miami Cutler...
308,callaway,US,30.1530,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...
355,sinaloa,MX,25.0000,-107.5000,
369,zabol,AF,32.2500,67.2500,
399,sar-e pul,AF,35.8333,66.1667,
443,houma,US,29.5958,-90.7195,"Holiday Inn Houma, an IHG Hotel"
538,ixtapa,MX,20.7000,-105.2000,Flamingo Vallarta Hotel & Marina
554,cockburn town,TC,21.4612,-71.1419,Osprey Beach Hotel

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# Add marker layer ontop of heat map
hotel_marker= gmaps.marker_layer(locations, info_box_content = [f"Hotel location: {rate}" for rate in hotel_info])
heatmap.add_layer(hotel_marker)
# Display figure
heatmap

Figure(layout=FigureLayout(height='420px'))